<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.AppInfoMapper">

    <select id="getAppInfoByPage" resultType="appInfo">
        select a.*,
        (select valueName from data_dictionary d where a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
        (select valueName from data_dictionary d where a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as
        flatformName,
        (select categoryName from app_category ac where ac.id = a.categoryLevel3) as categoryLevel3Name,
        (select devName from dev_user d where d.id = a.devId) as devName,
        (select categoryName from app_category ac where ac.id = a.categoryLevel1) as categoryLevel1Name,
        (select categoryName from app_category ac where ac.id = a.categoryLevel2) as categoryLevel2Name,
        (select v.versionNo from app_version v where v.id=a.versionId ) as versionNo
        from app_info a
        <trim prefix="where" prefixOverrides="and | or">
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="platformId != null">
                and a.flatformId = #{platformId}
            </if>
            <if test="categoryLevel1 != null">
                and a.categoryLevel1 = #{categoryLevel1}
            </if>
            <if test="categoryLevel2 != null">
                and a.categoryLevel2 = #{categoryLevel2}
            </if>
            <if test="categoryLevel3 != null">
                and a.categoryLevel3 = #{categoryLevel3}
            </if>
            <if test="devId != null">
                and a.devId = #{devId}
            </if>
            <if test="softwareName != null and '' != softwareName">
                and a.softwareName like concat('%',#{softwareName},'%')
            </if>
        </trim>
        order by creationDate DESC limit #{startRow},#{pageSize}
    </select>

    <select id="getCount" resultType="int">
        select count(1) from app_info a
        <trim prefix="where" prefixOverrides="and | or">
            <if test="status != null">
                and a.status = #{status}
            </if>
            <if test="platformId != null">
                and a.flatformId = #{platformId}
            </if>
            <if test="categoryLevel1 != null">
                and a.categoryLevel1 = #{categoryLevel1}
            </if>
            <if test="categoryLevel2 != null">
                and a.categoryLevel2 = #{categoryLevel2}
            </if>
            <if test="categoryLevel3 != null">
                and a.categoryLevel3 = #{categoryLevel3}
            </if>
            <if test="devId != null">
                and a.devId = #{devId}
            </if>
            <if test="softwareName != null and '' != softwareName">
                and a.softwareName like concat('%',#{softwareName},'%')
            </if>
        </trim>
    </select>

    <select id="getByAPKName" resultType="appInfo">
        select * from app_info where devId = #{devId} and APKName = #{APKName}
    </select>

    <insert id="addAppInfo" parameterType="appInfo">
        insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,devId,
          appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,categoryLevel3,
          downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
        values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},#{softwareSize},#{devId},
          #{appInfo},#{status},#{onSaleDate},#{offSaleDate},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},
          #{downloads},#{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
    </insert>

</mapper>