<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.DataDictionaryMapper">

    <select id="getDataDictionaryList" resultType="dataDictionary">
        select * from  data_dictionary
        <trim prefix="where" prefixOverrides="and | or">
            <if test=" typeCode != null and '' != typeCode ">
                and typeCode = #{typeCode}
            </if>
            <if test="valueId != null">
                and valueId = #{valueId}
            </if>
        </trim>
    </select>

</mapper>